.educationCard {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 2vh;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1), 
              inset -2px -2px 0 rgba(255, 255, 255, 0.75);
    border: 1px solid #ddd;
    display: inline-block;
  }
  
  .editIcon {
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 15px;
    color: #666;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .item {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .degree {
    font-weight: bold;
  }
  
  .smallText {
    font-size: 14px;
    color: gray;
  }
  
  .field {
    font-size: 14px;
    color: #666;
  }
  
  .line {
    width: 2px;
    height: 30px;
    background: black;
    margin-left: 20px;
    align-self: flex-start;
  }
  
  .passingYear {
    text-align: right;
  }
  
  .yearText {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .year {
    margin-bottom: 10px;
  }
  
  .showMore {
    font-size: 12px;
    color: #000;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .showMore svg {
    width: 15px;
    height: 15px;
  }
  