.container {
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #ffecec;
  padding: 6px 12px;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 12px;
}

.icon {
  margin-right: 8px;
  color: #6d6b6a;
}

.title {
  font-weight: bold;
  color: #6d3331;
  font-size: 18px;
}

.searchInput {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.friendList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friendItem {
    width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 12px;
}


.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .defaultAvatar {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
  }
  

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.role {
  font-size: 13px;
  color: #8d8d8d;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 8px;
  }
  .acceptBtn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  .declineBtn {
    background: #f44336;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

.showMore {
  background: none;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
