.banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: start;
    background-image: url('../../../assets/eventbanner.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 20px 40px;
    position: relative;
    width: 70vw;
    height: 70vh;
    color: white;
    margin: 20px 0;
  }
  
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .eventInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .eventName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .eventTime {
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .joinButton {
    background-color: #ff7961 !important;
    color: white;
    font-weight: bold;
    border-radius: 2000px !important;
    text-transform: none;
    height: 40%;
    width: 13%;
  }
  
  .controls {
    align-self: flex-end;
    display: flex;
  }
  
  .icon {
    color: white;
    cursor: pointer;
  }
  