.EventHost {
    align-self: flex-end;
    margin-right: 20px;
}

.EventHost button {
    padding: 10px 20px;
    background-color: #ff7961;
    color: white;
    font-weight: bold;
    border-radius: 2000px;
    text-transform: none;
    border: none;
    outline: none;
}