
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.event {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 15px;
}

.event > div {
    display: flex;
    justify-content: center;
}

.event > p {
    margin-left: 25px;
}

.icon {
    margin-right: 8px;
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

.date {
    font-weight: bold;
    font-size: 16px;
}

.description {
    font-size: 14px;
}
