.news-pics {
    margin-bottom: 20px;
  }
  
  .news-pics h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .pic-item {
    display: flex;
    margin-bottom: 10px;
  }
  
  .pic-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .pic-item p {
    font-size: 14px;
    color: #333;
  }
  