.news-recommendation {
    width: 270px;
    margin-bottom: 20px;
    padding: 20px ;
    border: 1px solid #000;
    border-radius: 20px;
  }
  
  .news-recommendation h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    width: max-content;
    padding-bottom: 5px;
    padding-right: 10px;
  }
  
  .topics span {
    display: inline-block;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .topics span:nth-of-type(n) {
    background-color: #BFF3ED;
  }

  .topics span:nth-of-type(2n) {
    background-color: #C4FFBB;
  }

  .topics span:nth-of-type(3n) {
    background-color: #f985d1;
  }

  .topics span:nth-of-type(4n) {
    background-color: #f9fbb4;
  }

  .topics span:nth-of-type(5n) {
    background-color: #f5893c;
  }
  