.newsItem {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #fff;
  width: 49%;
}

.newsContent {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.newsImage {
  flex: 0.5;
  width: auto;
  height: 100%;
  border-radius: 8px;
  margin-right: 15px;
}

.play {
  position: relative;
  top: -30px;
  right: -31px;
}

.newsDetails {
  flex: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsTitle {
  font-size: 18px;
  margin: 0 0 10px;
}

.newsText {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.newsInfo {
  font-size: 12px;
  color: #888;
}

.date {
  margin-right: 10px;
}

.author {
  font-weight: bold;
}

.actionBar {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #eeecec;
}

.actionButton {
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.actionButton:hover {
  color: #000;
}

.pagination {
  font-size: 30px !important;
  color: #888;
}
