.workItemsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
  

  .works {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }