.container {
    background-color: #dfffe3;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    color: #333;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
  }
  
  .filterBox {
    width: 75%;
    background-color: white;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }

  .filterBox:hover {
    background-color: #78ff8d;
    color: white;
  }
  
  .salaryRange {
    font-weight: bold;
    color: #333;
    display: block;
  }
  
  .jobCount {
    color: #f56a00;
    font-size: 14px;
  }
  