.workItem {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  .jobTitle {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
  }

  .jobTitle p {
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;
  }
  
  .bookmarkIcon {
    font-size: 18px;
    color: #555;
    margin-bottom: auto;
    margin-top: 10px;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 8px;
    padding-left: 16px;
  }
  
  .icon {
    margin-right: 6px;
    color: #555;
  }
  
  .detailsButton {
    margin-top: 16px;
    align-self: flex-end;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 400px;
    cursor: pointer;
  }
  