.container {
  position: fixed;
  width: 20vw;
  min-height: 80vh;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header h2 {
   margin-left: auto;
   transform: translateX(30%);
   margin-bottom: 0;
}

.categoryBtn {
  background: #ff725e;
  color: black;
  font-weight: 700;
  padding: 5px 15px;
  padding-right: 5px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-left: auto;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  display: none;
  font-size: 10px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdownItem:hover {
  background: #ff5c5c;
  color: white;
}

.filters {
  margin-top: 10px;
}

.filterSection {
  background: white;
  border-radius: 8px;
  padding: 8px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 6px;
}

.filterOptions {
  padding: 6px;
}

.option {
  display: block;
  margin: 4px 0;
  cursor: pointer;
  width: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
}

.option input {
  width: min-content;
  margin-right: 20px;
}
