.container {
  position: fixed;
  width: 20vw;
  min-height: 80vh;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  text-align: center;
  width: 100%;
}

.categoryButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.categoryBtn {
  background: #fff;
  color: black;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  border: 2px solid #ff725e;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.categoryBtn:hover {
  background: #ff725e;
  color: white;
}

.categoryBtn.active {
  background: #ff725e;
  color: white;
}

.dropdown {
  position: relative;
  margin-left: auto;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  display: none;
  font-size: 10px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdownItem:hover {
  background: #ff5c5c;
  color: white;
}

.filters {
  margin-top: 10px;
}

.filterSection {
  background: white;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 6px;
}

.filterOptions {
  padding: 6px;
}

.option {
  display: block;
  margin: 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: max-content;
}

.option input {
  margin-right: 10px;
}
