.container {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #d0d0d0;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .iconText {
    font-weight: bold;
  }
  
  .details h3 {
    font-size: 1.2em;
    margin: 0;
  }
  
  .details p {
    margin: 5px 0 0;
    color: #777;
  }
  
  .infoSection {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .infoItem {
    width: 25%;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
  }

  .infoIcon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .jobExperience {
    background-color: #f9d8b3;
  }
  
  .jobType {
    background-color: #d4f5b7;
  }
  
  .location {
    background-color: #b3e5fc;
  }
  
  .postedOn {
    background-color: #f9c2fc;
  }
  
  .infoItem span {
    margin-left: 8px;
  }

  .action-apply {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .actionSection {
    display: flex;
    gap: 40px;
    justify-content: center;
    height: max-content;
  }

  .action {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
  }
  
  .applySection {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: max-content;
  }
  
  .applyNow {
    padding: 10px 20px;
    background-color: #90caf9;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  
  .quickApply {
    padding: 10px 20px;
    background-color: #ce93d8;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  