.table-view {
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .sorting-arrows {
    margin-left: 5px;
    font-size: 10px;
    display: inline-flex;
    flex-direction: column;
  }
  
  .arrow-up, .arrow-down {
    cursor: pointer;
    line-height: 1;
  }
  
  .arrow-up {
    margin-bottom: 2px;
  }