.card {
    width: 49%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .info {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .info p {
    margin: 0;
    color: gray;
    font-size: 14px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    cursor: pointer;
    color: #555;
    font-size: 24px;
  }
  
  .tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .tag {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 12px;
  }
  
  .details {
    font-size: 14px;
    color: #333;
    padding-left: 5px;
  }
  
  .details p {
    margin: 5px 0;
  }
  
  .details p:nth-of-type(2n) {
    text-align: right;
  }
  
  .applied-date, .date {
    color: gray;
    font-size: 12px;
  }