.courseDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    background-color: #f3c091;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CourseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    overflow-x: auto;
    padding: 10px 0;
  }
  