.container {
    display: flex;
    background-color: #f4a261;
    padding: 20px 0;
  }
  
  .sidebar {
    width: 20%;
    background-color: transparent;
    color: #fff;
    padding: 20px;
  }

  .activity {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    width: max-content;
    margin: 0 auto;
  }

  .activity:first-child {
    font-weight: bold;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    width: max-content;
    margin: 20px auto;
  }
  
  .menu p {
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
  }
  
  .mainContent {
    width: 70%;
    padding: 20px;
  }
  
  .analysis {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .analysis .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
  }

  .analysis .profile img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
  }

  .profileImg {
    border-radius: 50%;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 50%;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .attendees {
    margin: 20px 40px;
    width: 30%;
  }

  .attendees p {
    font-weight: bold;
    margin: 20px 0;
  }
  
  .days {
    display: flex;
    justify-content: space-between;
  }

  .day,
  .activeDay {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .day .circle,
  .activeDay .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .activeDay .circle {
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%,rgb(0, 155, 0, 1) 30%, rgb(0, 155, 0, 1) 100%);
  }
  
  .notifications,
  .customizeNotifications {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .notifications div,
  .customizeNotifications div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .notifications div:nth-of-type(1),
  .customizeNotifications div:nth-of-type(1) {
    border-bottom: 1px solid #fff;
  }
  
  .progress {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .barGraph {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    height: 100px;
    margin-top: 40px;
  }
  
  .bar {
    width: 10%;
    background-color: green;
  }
  