.container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    overflow-x: auto;
}

.card {
    min-width: 180px;
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.video {
    background-color: black;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: red;
    font-size: 40px !important;
}

.text {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
}
  