.container {
    background-color: black;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
  }
  
  .option {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }
  