.footer {
  background-color: #000;
  color: #fff;
  /* padding: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.color-section {
  width: 100%;
  width: 15%;
  background-color: #d2d2d2;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translateX(-40%);
}

.footer-section {
  flex: 1;
  margin: 40px;
}

#QuickLinks {
  text-align: center;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 22px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2px;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px;
}

.store-button {
  background-color: #fff;
  color: #000;
  padding: 15px 25px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.store-button .store-icon {
  margin-right: 10px;
  font-size: 20px;
}

.footer-download p {
  margin-top: 20px;
  font-size: 18px;
}

.footer-download .highlight {
  color: #EB6200;
  font-weight: bold;
  text-decoration: none;
}

.footer-download .highlight:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.social-icon:hover {
  color: orange;
}
