.header {
  position: fixed;
  top: 1vh;
  z-index: 1000000;
  width: 98.5vw;
  left: 0.5vw;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    background-color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo-image {
    width: 50px;
    margin-right: 8px;
  }
  
  .logo-text {
    font-size: 1.5vw;
    font-weight: bold;
    color: #5b577d;
  }
  
  .nav {
    display: flex;
    gap: 35px;
    /* margin-left: auto;
    margin-right: 50px; */
  }
  
  .nav-item {
    display: flex;
    align-items: start;
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
  }
  
  .icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-bottom: 4px;
  }
  
  .user-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .notificationIcon {
    height: 25px;
    width: 25px;
    color: #5b577d;
    margin-right: 10px;
  }
  
  .user-icon {
    font-size: 20px;
    color: #5b577d;
  }

  .user-section .dots3 {
    height: 25px;
    width: 25px;
    color: #5b577d;
    cursor: pointer;
  }

  .user-section .loginBtn {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) ;
  }

  .user-section .dropdownBar {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: max-content;
  }

  .user-section .dropdownBar .dropdown-item-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    color: #5b577d;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-top: 1px solid #e0e0e0;
    outline: none;
    font-size: 16px;
    cursor: pointer;
  }

  .user-section .dropdownBar .dropdown-item-bar:first-child {
    border-top: none;
  }
  
  .profile {
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 3px;
    height: 50px;
  }
  
  .profile .avatarImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }