.faqContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}


.faqItem {
  background: #f8f8f8;
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 15px 30px;
  cursor: pointer;
  border: 2px solid #000;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.faqItem:hover {
  background: #eaeaea;
}

.faqQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.faqNumber {
  font-weight: bold;
  margin-right: 10px;
}

.faqText {
  text-align: left;
  justify-self: flex-start;
  width: 90%;
  font-weight: 600;
}

.plus, .minus {
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #f8f8f8;
  width: 30px;
}

.plus {
  width: 25px;
}

.faqAnswer {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.75;
  color: #000;
  font-weight: 600;
}

.faqAnswer hr {
  border: none;
  height: 2px;
  background: #000;
}

.active {
  background: #ffffc2;
  border-radius: 12px;
  transform: scale(1.05);
}

.active:hover {
  background: #ffffc2;
  border-radius: 12px;
}


svg {
  width: 20px;
}