.community-section {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 15vh;
  background-color: #ffded8;
}

.left-sidebar {
  width: 20%;
  position: fixed;
  left: 4vw;
}

.main-content {
  flex: 0.45;
}

.right-sidebar {
  width: 20%;
  position: fixed;
  right: 4vw;
}