.Course-tab {
  display: flex;
  justify-content: end;
  padding: 20px 0;
  padding-top: 15vh;
  background-color: #f8d8b9;
  min-height: 100vh;
}

.leftSidebar {
  position: fixed;
  left: 4vw;
  width: 20%;
}
  
.Course-content {
  flex: 0.7;
  margin-right: 4vw;
}

.main-Course {
  width: 100%;
  margin-top: 40px;
}

.Course-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.Course-main-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
  