.Course-tab {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    background-color: #f4c191;
  }
  
  .Course-content {
    display: flex;
    justify-content: space-between;
  }
  
  .main-Course {
    flex: 2.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar {
    margin: 40px 0;
  }
  