.Event-tab {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 15vh;
  background-color: #fbece8;
  min-height: 100vh;
}

.leftSidebar {
  position: fixed;
  left: 4vw;
  width: 20%;
}
  
.Event-content {
  flex: 0.8;
  display: flex;
  justify-content: space-between;
}
  
  .main-Event {
    flex: 2.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .main-Event .Event-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  