.Event-tab {
  display: flex;
  justify-content: end;
  padding: 20px 0;
  padding-top: 15vh;
  background-color: #fbecf8;
  min-height: 100vh;
}

.leftSidebar {
  position: fixed;
  left: 4vw;
  width: 18%;
  height: max-content;
}

.main-Event {
  width: 100%;
  margin-top: 40px;
}
  
.Event-content {
  flex: 0.7;
  width: 70%;
  margin-right: 4vw;
}

.Event-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.Event-main-bar {
  width: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
  