.Event-tab {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    background-color: #e8dad9;
  }
  
  .Event-content {
    display: flex;
    justify-content: space-between;
  }
  
  .main-Event {
    flex: 2.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .main-Event .Event-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .sidebar {
    margin: 40px 0;
  }
  