.feed-section {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 15vh;
    background-color: #e2eaf9;
  }
  
  .left-sidebar {
    flex: 0.2;
  }
  
  .main-content {
    flex: 0.45;
  }
  
  .right-sidebar {
    flex: 0.2;
  }