.news-tab {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 15vh;
    background-color: #fbfbec;
    min-height: 100vh;
  }

  .left-sidebar {
    width: 20%;
    position: fixed;
    left: 4vw;
  }
  
  .main-news {
    flex: 0.45;
  }

  .main-news .news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .right-sidebar {
    width: 20%;
    position: fixed;
    right: 4vw;
  }
  