.news-tab {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    padding-top: 15vh;
    background-color: #fbfbec;
    min-height: 100vh;
  }

  .left-sidebar {
    flex: 0.1;
  }
  
  .main-news {
    flex: 0.5;
  }

  .main-news .news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .right-sidebar {
    flex: 0.25;
  }
  