.news-tab {
    display: flex;
    justify-content: end;
    padding: 60px;
    padding-top: 15vh;
    background-color: #fbfbec;
    min-height: 100vh;
  }

  .left-sidebar {
    position: fixed;
    top: 11.25vh;
    left: 60px;
    flex: 0.1;
    width: 15%;
  }
  
  .main-news {
    flex: 0.5;
    margin-right: 100px;
  }

  .main-news .news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .right-sidebar {
    width: 25%;
    flex: 0.25;
  }
  