.news-tab {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .news-content {
    display: flex;
    justify-content: space-between;
  }
  
  .main-news {
    flex: 3;
  }
  
  .sidebar {
    flex: 1;
    margin-left: 20px;
  }
  