.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 10vh;
    background-color: #e5e0cb;
    width: 100%;
    min-height: 100vh;
}

.mainContent {
    width: 65%;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftSidebar {
    width: 20%;
    margin-right: 4vw;
}

.back {
    position: absolute;
    top: 2vh;
    left: 1vw;
}

.back svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}