.Work-tab {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 15vh;
    background-color: #ecfbfa;
    min-height: 100vh;
}

.left-sidebar {
    flex: 0.2;
}

.main-content {
    flex: 0.45;
}

.right-sidebar {
    flex: 0.2;
}
  