.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .viewsSection {
    padding: 16px !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    margin-top: 50px;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .customColumns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .description {
    font-size: 14px;
    color: #666;
  }
  
  .columnButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .selected {
    background: transparent !important;
    color: #0000009f !important;
    border: 1px solid #ddd !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) !important;
  }

  .selected:hover {
    background: #f5f5f5 !important;
  }
  
  .unselected {
    color: #0000009f !important;
    border: 1px solid #ddd !important;
  }

  .unselected:hover {
    background: #f5f5f5 !important;
  }
  
  .icon {
    margin-left: 5px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background: white;
  }
  
  .table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }

  
  .cell:hover {
    background: #c3c3c3;
    cursor: pointer;
  }