/* Style the form container and form elements */
.MuiFormControl-root {
    margin-bottom: 15px;
  }
  
  .MuiButton-root {
    margin-top: 20px;
    width: 50vw;
  }

  .MuiBox-root {
    margin-top: 5vh !important;
  }
  
  .dialog {
    width: 100%;
  }

  .DialogTitle {
    width: 40vw !important;
  }