.post {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 2vh 0;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileSection {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.userInfo {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.userName {
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.postTime {
  font-size: 13px;
  color: #888;
}

.optionsIcon {
  height: 30px;
  width: 30px;
  color: #000;
  cursor: pointer;
}

/* Post Content */
.content {
  width: 85%;
  margin: 0 auto;
  margin-top: 12px;
}

.text {
  margin: 0 12px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  line-height: 1.5;
}

.postImage {
  width: 100%;
  height: 230px;
  background: #000;
  border-radius: 10px;
  margin: 10px 0;
  margin-bottom: 30px;
}

/* Actions */
.actions {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
}

.action {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #292556;
  font-weight: 700;
  cursor: pointer;
  margin-left: 1.75vw;
}

.actionSave {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #292556;
  font-weight: 700;
  cursor: pointer;
  margin-left: auto;
}

.icon {
  font-size: 18px;
}
