.suggestions-card {
    background-color: #e9ffd7;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
  }
  
  .suggestions-card h4 {
    margin-bottom: 20px;
  }
  
  .suggested-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .suggested-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .user-details span {
    font-size: 14px;
  }
  
  .user-details span:nth-child(2) {
    font-size: 12px;
    color: gray;
  }
  