.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: start;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-group {
    margin: 15px 0;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    background-color: #d9d9d9;
    /* margin-top: 10px; */
  }
  
  h2 {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  .close-btn {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .next-btn {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  