/* src/components/Filters.css */
.filters {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .filter-option {
    margin-bottom: 10px;
  }
  
  .filter-option label {
    display: block;
    margin-bottom: 5px;
  }
  